@page
@model IndexModel
@{
    ViewData["Title"] = "Inventario";
}

<div class="text-center">
    <h1 class="display-4">Inventario Supermercado</h1>
</div>

<table class="table">
    <tr>
        <th>Sucursal</th>
        <th>Id Producto</th>
        <th>Producto</th>
        <th>Descripcion</th>
        <th>Stock</th>
    </tr>

    @foreach (var s in Model.Sucursales)
    {
        foreach(var p in s.ProductoSucursals)
        {
            <tr>
                <td>@s.Nombre</td>
                <td>@p.IdProductoNavigation.Id</td>
                <td>@p.IdProductoNavigation.Nombre</td>
                <td>@p.IdProductoNavigation.Descripcion</td>
                <td>@p.Stock</td>
            </tr>
        }
    }

</table>